.markdown-load-github {
  text-align: left !important;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


  img {
    margin: 10px auto;
  }

  @media screen and (max-width: 760px) {
    img {
      max-width: 290px !important;
      margin: 15px 2px !important;
    }

    details {
      margin: auto;
    }

    p {
      font-size: 10px;
    }

    h1, h2, h3, h4, h5, h6 {
      color: #000;
      padding-bottom: 0.3em;
      font-size: 1.4em;
      border-bottom: 0.2px solid #D0D7DE;
      line-height: 1.25;
    }
  }

  @media screen and (min-width: 760px) {

    .toggle-view-btn-mobile,
    .markdown-editor-mobile,
    .markdown-preview-mobile {
      display: none;
    }


    h1, h2, h3, h4, h5, h6 {
      color: #000;
      padding-bottom: 0.3em;
      font-size: 1.5em;
      border-bottom: 0.2px solid #D0D7DE;
      line-height: 1.25;
    }
  }

  &.dark-mode {
    color: #fff !important;
    border-bottom-color: #262b32 !important;
    box-shadow: 0 0 10px rgb(255, 255, 255);

    @media screen and (min-width: 760px) {

      h1, h2, h3, h4, h5, h6 {
        color: #fff !important;
        padding-bottom: 0.3em;
        font-size: 1.5em;
        border-bottom: 0.2px solid #D0D7DE;
        border-bottom-color: #262b32 !important;
        line-height: 1.25;
      }
    }

    @media screen and (max-width: 760px) {
      h1, h2, h3, h4, h5, h6 {
        color: #fff !important;
        padding-bottom: 0.3em;
        font-size: 1.4em;
        border-bottom: 0.2px solid #D0D7DE;
        border-bottom-color: #262b32 !important;
        line-height: 1.25;
      }
    }

    code, tt {
      padding: 0.2em 0.4em;
      margin: 0;
      font-size: 85%;
      white-space: break-spaces;
      background-color: rgb(255, 255, 255);
      color: rgba(0, 0, 0);
      border-radius: 6px;
      font-family: var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace);
    }

    a {
      color: rgba(0, 208, 255, 0.84);
    }

    blockquote {
      color: #D0D7DE;
      border-left-color: #D0D7DE;
    }

    pre {
      background-color: #ebebeb;
      color: #000;
    }

    th, td {
      border-color: #262b32;
      color: #fff;
    }

    th {
      background-color: transparent;
    }

    td {
      background-color: transparent;
    }

  }

  a {
    color: rgba(0, 51, 255, 0.84);
    text-decoration: none;
    font-style: italic;

    &:hover {
      color: #1bc099 !important;
    }
  }

  br {
    margin-bottom: 21px;
  }

  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    border-radius: 6px;
    background-color: #D0D7DE;
    color: #fff;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    text-align: left;

    th, td {
      padding: 12px 15px;
      border: 1px solid #D0D7DE;
      background-color: transparent;
    }

    th {
      font-weight: bold;
      background-color: transparent;

      &.dark-mode {
        background-color: transparent;
      }
    }

    td {
      &.dark-mode {
        background-color: transparent;
      }
    }
  }

  code, tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: #000;
    color: #fff;
    border-radius: 6px;
    font-family: var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace);
  }

  blockquote {
    padding: 0 1em;
    color: #262b32;
    border-left: 0.25em solid #262b32;
  }

  details {
    margin: 60px 20px;
  }

  summary {
    cursor: pointer;
  }

  strong {
    margin: 2px;
  }

  ul {
    max-width: 200px;
  }

  li {
    width: 500px;
    text-align: left;
  }

  @media screen and (min-width: 760px) {
    p {
      font-size: 20px;
    }
  }

  summary b::before {
    font-weight: normal;
  }
}


@media only screen and (min-width: 768px) {
  .markdown-load-github {
    width: 1600px;
    min-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
  }

  .markdown-load-github {
    width: 1600px;
    min-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
  }

  @media only screen and (max-width: 1600px) {
    .markdown-load-github {
      max-width: 1100px;
      min-width: 320px;
    }
  }

  .markdown-load-github img {
    max-width: 438px;
  }

  .markdown-load-github p {
    color: #000;
    font-size: 15px;
    margin: 10px 4px;
  }

  .markdown-load-github.dark-mode p {
    color: #fff;
    font-size: 10px;
    margin: 10px 4px;
  }


  details {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 10px;
    word-wrap: break-word;
    line-height: 3;
  }

  summary {
    font-size: 20px;
    font-weight: 600;
  }
  b {
    line-height: 2;
    font-size: 18px;
    word-break: break-word;
  }


  ul {
    padding-left: 1em;
  }


  .markdown-load-github p {
    align-items: center;
    font-size: 10px;
    margin: 10px 2px;
  }

  .markdown-load-github textarea {
    resize: none;
    height: 700px;
  }

  .markdown-inner {
    border-radius: 6px;
    padding: 20px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (min-width: 1600px) {
  .markdown-load-github {
    width: 1600px;
    min-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
  }


  .markdown-load-github img {
    max-width: 700px;
  }

  .markdown-load-github p {
    color: #000;
    font-size: 20px;
  }

  .markdown-load-github.dark-mode p {
    color: #fff;
    font-size: 20px;
  }

  .markdown-load-github li {
    width: 650px;
    text-align: left;
  }


  details {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 10px;
    line-height: 1.5;
    word-wrap: break-word;
  }


  .markdown-load-github.dark-mode b {
    color: #fff;
    line-height: 1.5;
    font-size: 18px;
  }

  .markdown-load-github b {
    color: #000;
    line-height: 1.5;
    font-size: 18px;
  }

  ul {
    padding-left: 2em;
  }

}

.button-download {
  margin-top: 60px;
  padding: 50px;
}

.input-button-wrapper {
  display: flex;
  margin: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-markdown {
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 6px;
}

.button-markdown-bottom {
  margin-top: 10px;
  margin-left: 5px;
  background-color: #000000;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  @media only screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    margin: 5px;
    align-items: center;
    list-style-type: none;
    padding: 10px 25px;
    width: 30px;
    height: 30px;
    font-size: 7px;
  }
}

.button-markdown-bottom-del {
  margin-top: 10px;
  margin-left: 5px;
  background-color: #000000;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  @media only screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    margin: 5px;
    align-items: center;
    list-style-type: none;
    padding: 10px 25px;
    width: 30px;
    height: 30px;
    font-size: 7px;
  }
}

.button-markdown-bottom-del:hover {
  background-color: #ff0000;
}

.button-markdown-bottom:hover {
  background-color: #5fcc00;
}

.editor-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 700px;

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #000000;
    width: 10px;
    height: 10px;
    padding: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #dadada;
  }
}

.editor-wrapper-dark-mode {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 700px;
  background-color: #ffffff;
  border-radius: 4px;

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #0d1117;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    padding: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #dadada;
  }
}

@media only screen and (min-width: 768px) {
  .markdown-load-github {
    .markdown-editor,
    .markdown-preview {
      flex: 1;
      border: 1px solid #ccc;
      border-radius: 4px;
      overflow-y: auto;
      width: 100%;
      height: 700px;
      padding: 24px;
      background-color: #ffffff;
      color: #000;
      font-size: 17px;
      justify-content: center;
      align-items: center;
      overflow-x: hidden;

      &.dark-mode {
        background-color: #0d1117;
        color: #ffffff;
      }
    }

    .error {
      color: red;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .markdown-load-github h1,
  .markdown-load-github h2,
  .markdown-load-github h3,
  .markdown-load-github h4,
  .markdown-load-github h5,
  .markdown-load-github h6 {
    color: #000;
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 0.2px solid #262b32;
    line-height: 1.25;
  }

  .markdown-load-github.dark-mode h1,
  .markdown-load-github.dark-mode h2,
  .markdown-load-github.dark-mode h3,
  .markdown-load-github.dark-mode h4,
  .markdown-load-github.dark-mode h5,
  .markdown-load-github.dark-mode h6 {
    color: #fff;
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 0.2px solid #262b32;
    line-height: 1.25;
  }

  .markdown-load-github.dark-mode br {
    margin-bottom: 21px;
  }

  .markdown-load-github br {
    margin-bottom: 21px;
  }

  .markdown-load-github {
    max-width: 350px;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .markdown-inner {
    border-radius: 6px;
    padding: 10px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  }

  .markdown-load-github img {
    max-width: 480px;
    margin: 10px auto;
  }

  .markdown-load-github text {
    font-size: 10px;
  }


  .input-button-wrapper {
    flex-direction: column;
    margin-bottom: 20px;
  }

  input[type="text"] {
    margin-right: 0;
    margin-bottom: 10px;
    padding: 8px;
  }

  .button-markdown {
    padding: 8px;
    font-size: 14px;
    margin-bottom: 30px;
  }

  .editor-wrapper-dark-mode,
  .editor-wrapper {
    flex-direction: row;
    gap: 10px;
    height: 0;

    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    ::-webkit-scrollbar-track {
      background-color: #ffffff;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #000000;
      width: 5px;
      height: 5px;
      padding: 2px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #dadada;
    }
  }

  .toggle-view-btn-mobile {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    background-color: #010101;
  }

  .markdown-editor,
  .markdown-preview {
    display: none;
  }

  .markdown-editor-mobile,
  .markdown-preview-mobile {
    overflow-x: hidden;
    margin-top: 10px;
    flex: 1;
    border: 1px solid #ccc;
    overflow-y: auto;
    min-height: 500px;
    height: auto;
    width: 90%;
    padding: 2px 10px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #000000;


    &.dark-mode {
      background-color: #0d1117;
      color: #ffffff;
    }
  }


  .button-download {
    margin: 0px 5px;
    margin-top: 50px;
    padding: 10px;
  }
}

