$header-bg-color: #000000;
$header-text-color: #fff;
$header-border-color: #e1e4e8;
$header-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$border-radius: 6px;
$button-bg-color-light: #ffffff;
$button-bg-color-dark: #000000;
$button-text-color-light: #000000;
$button-text-color-dark: #fff;
$button-border-light: #ffffff;
$button-border-dark: #000000;
$button-hover-color: #000000;
$button-hover-text-color: #ffffff;
$font-size-large: 25px;
$font-size-small: 10px;
$button-padding: 8px 16px;
$button-small-padding: 2px;
$button-size: 50px;

@mixin header-style($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  border: 1px solid $header-border-color;
  border-radius: $border-radius;
  box-shadow: $header-shadow;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

@mixin button-style($bg-color, $text-color, $border-color) {
  min-height: 50px;
  padding: $button-padding;
  cursor: pointer;
  background-color: $bg-color;
  color: $text-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  transition: background-color 0.3s ease;
  font-size: $font-size-small;

  &:hover {
    background-color: $button-hover-color;
    color: $button-hover-text-color;
    border-color: $button-hover-text-color;
  }

  @media only screen and (max-width: 768px) {
    padding: $button-small-padding;
    width: $button-size;
    height: $button-size;
    font-size: $font-size-small;
  }
}

.header {
  @include header-style($header-bg-color, $header-text-color);

  @media only screen and (max-width: 1600px) {
    max-width: 1100px;
    min-width: 320px;
  }

  @media only screen and (max-width: 768px) {
    max-width: 350px;
    padding: 5px 10px;
    font-size: 12px;
    margin: 5px auto;
  }
}

.header-text {
  font-size: $font-size-large;
  margin-right: 20px;

  @media only screen and (max-width: 768px) {
    font-size: $font-size-small;
    margin-right: 5px;
  }
}

.header-button {
  @include button-style($button-bg-color-light, $button-text-color-light, $button-border-dark);

  &.dark-mode {
    @include button-style($button-bg-color-dark, $button-text-color-dark, $button-border-light);
  }
}
