.dio-search img {
  max-width: 900px;
  margin: 2px auto; 
  display: block; 
}


.dio-search pre {
  max-width: 2000px; 
  font-size: 20px; 
  word-wrap: break-word; 
  white-space: pre-wrap; 
}

.dio-search code {
  max-width: 2000px; 
  font-size: 20px; 
  word-wrap: break-word; 
  white-space: pre-wrap; 
}

.dio-search p {
  max-width: 2000px; 
  font-size: 10px; 
  word-wrap: break-word; 
  white-space: pre-wrap; 
}


.dio-search h1,
.dio-search h2,
.dio-search h3,
.dio-search h4,
.dio-search h5,
.dio-search h6 {
  color: #000;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 0.2px solid #262b32;
  line-height: 1.25;
}

.dio-search.dark-mode h1,
.dio-search.dark-mode h2,
.dio-search.dark-mode h3,
.dio-search.dark-mode h4,
.dio-search.dark-mode h5,
.dio-search.dark-mode h6 {
  color: #fff;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 0.2px solid #262b32;
  line-height: 1.25;
}

.dio-search.dark-mode br {
  margin-bottom: 21px;
}

.dio-search br {
  margin-bottom: 21px;
}


.dio-search {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.dio-search a {
  color: rgb(14, 14, 14);
  text-decoration: none;
  font-size: 12px;
}

.dio-search.dark-mode a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 12px;
}

.dio-search-inner {
  border-radius: 6px;
  padding: 20px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

.dio-search-inner.dark-mode {
  border-radius: 6px;
  padding: 20px;
  box-shadow: inset 0 0 2px rgba(239, 239, 239, 0.89);
}

.dio-search.dark-mode {
  background-color: #0d1117;
  color: #fff;
}

.dio-search .input-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.dio-search input {
  padding: 10px 10px;
  margin: 30px 10px;
  font-size: 16px;
  border: 1px solid #303030;
  border-radius: 6px;
  width: 500px;
}

.text-md {
  margin: 20px;
  font-weight: bold;
}

.image-dio-right {
  float: right;
  margin: 20px;
  &.dio-image {
  }
}

.button-markdown {
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  background-color: #010101;
  color: #fff;
  border: none;
  border-radius: 6px;
}

.button-markdown-next {
  padding: 10px 25px;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
  background-color: #010101;
  color: #fff;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;

  &.dark-mode{
    background-color: #ffffff;
    color: #000000;
  }
  
  &:hover {
    background-color: #5fcc00;
  }

  @media only screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    margin: 5px;
    align-items: center; 
    list-style-type: none;
    padding: 10px 25px;
    width: 30px;
    height: 30px;
    font-size: 7px;
  }
  
}

.button-markdown.dark-mode {
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 6px;
}

.markdown-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
}

.markdown-content {
  flex-grow: 1;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  margin-top: 20px;
}

.markdown-content p {
  line-height: 1.5;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  margin-top: 10px;
}

.text-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(121, 239, 18);
  margin-top: 10px;
}

.github-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .profile-avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
}

.profile-info {
  text-align: center;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

@media only screen and (max-width: 768px) {


  .dio-search h1,
  .dio-search h2,
  .dio-search h3,
  .dio-search h4,
  .dio-search h5,
  .dio-search h6 {
    color: #000;
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 0.2px solid #262b32;
    line-height: 1.25;
  }
  
  .dio-search.dark-mode h1,
  .dio-search.dark-mode h2,
  .dio-search.dark-mode h3,
  .dio-search.dark-mode h4,
  .dio-search.dark-mode h5,
  .dio-search.dark-mode h6 {
    color: #fff;
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 0.2px solid #262b32;
    line-height: 1.25;
  }
  
  .dio-search.dark-mode br {
    margin-bottom: 21px;
  }
  
  .dio-search br {
    margin-bottom: 21px;
  }

  .dio-search {
    max-width: 335px;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .dio-search img {
    display: block; 
    max-width: 280px;
    margin-bottom: 20px; 
  }
  
  
  .dio-search p {
    max-width: 280px;
  }

  .profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .dio-search text {
    font-size: 10px;
  }

  .dio-search a {
    color: rgb(14, 14, 14);
    text-decoration: none;
    font-size: 12px;
    margin: 0 2px;
    margin-bottom: 2px;
  }

  .dio-search.dark-mode a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 12px;
    margin: 0 2px;
    margin-bottom: 2px;
  }

  .markdown-inner {
    border-radius: 6px;
    padding: 10px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  }

  .markdown-inner.dark-mode {
    border-radius: 6px;
    padding: 10px;
    box-shadow: inset 0 0 2px rgba(239, 239, 239, 0.89);
  }

  .dio-search.dark-mode {
    background-color: #0d1117;
    color: #fff;
  }

  .dio-search .input-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .dio-search input {
    padding: 5px 5px;
    margin: 15px 10px;
    border: none;
    border-radius: 6px;
    font-size: 10px;
    height: 15px;
    width: 150px;
    border: 1px solid #e1e4e8;
  }

  .button-markdown {
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    background-color: #010101;
    color: #fff;
    border: none;
    border-radius: 6px;
    height: 30px;
  }

  .button-markdown.dark-mode {
    padding: 5px 15px;
    font-size: 12px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 6px;
    height: 30px;
  }

  .markdown-content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5px;
  }

  .markdown-content {
    flex-grow: 1;
  }

  .markdown-content h1,
  .markdown-content h2,
  .markdown-content h3,
  .markdown-content h4,
  .markdown-content h5,
  .markdown-content h6 {
    margin-top: 20px;
  }

  .markdown-content p {
    line-height: 1.5;
  }

  .error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    margin-top: 5px;
    font-size: 8px;
  }

  .text-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(121, 239, 18);
    margin-top: 5px;
    font-size: 8px;
  }

  .github-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-info {
    text-align: center;
  }

  .profile-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
}
